@keyframes airplaneAnimation {
  0% {
    transform: translateX(-100%) rotate(90deg);
    margin-left: 10%;
  }
  100% {
    transform: translateX(100%) rotate(90deg);
    margin-left: 80%;
  }
}

.flightIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-100%) rotate(90deg);
  animation: airplaneAnimation 5s linear infinite;
}
